{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student data app</title>
<link rel="stylesheet" href="{% static 'style.css' %}"></head>
<body>
    <header>
    <nav>
        <a href="/">Home</a>
        <a href="/add/">Add Student</a>
        <a href='/logout/'>Logout</a>
    </nav>
    
    </header>
    <div>
        {% block content %}

        {% endblock %}  
    </div>
    

</body>
</html>